body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    width: 100%;
    min-width: 320px;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* ---------- START HERO ---------- */
.hero {
    background: url("/img/header-bg.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, rgba(0, 80, 101, 0.39), rgba(34, 185, 119, 0.39));
    display: block;
    height: 100%;
    width: 100%;

}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

.menu__item {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin: 0 15px;
}

.menu__item:hover {
    color: #07b569;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 8px 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    background-color: #07b569;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: #009f5a;
}

.hero__tittle {
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-size: 54px;
    font-weight: 400;
    width: 100%;
    max-width: 970px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.text-bold {
    font-weight: 700;
}

/* ---------- END HERO ---------- */

/* ---------- START ABOUT-US ---------- */

.about-us {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    align-items: center;
}
.about-us__img {
    flex-basis: 43%;
    position: relative;
    margin-right: 50px;
}
.about-us__img img {
    max-width: 100%;
    display: block;
}
.about-us__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, rgba(0, 80, 101, 0.39), rgba(34, 185, 119, 0.39));
    display: block;
    height: 100%;
    width: 100%;
}

.about-us__content {
    flex-basis: calc(100% - 43% - 100px);
}
.title {
    color: #1b1b1b;
    font-size: 36px;
    font-weight: 400;
}

.about-us__text {
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 50px;
    margin-bottom: 40px;
}
/* ---------- END ABOUT-US ---------- */

/* ---------- START SERVICES ---------- */


/* ---------- START SERVICES ---------- */