body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    min-width: 320px;
    margin: 0;
}

.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ---------- START HERO ---------- */
.hero {
    background: url("../img/header-bg.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, rgba(0, 80, 101, 0.39), rgba(34, 185, 119, 0.39));
    width: 100%;
    height: 100%;
}

.logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    text-decoration: none;
}

.nav {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
}

.menu-list__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
}

.menu-list__link:not(:last-child) {
    margin-right: 30px;
}

.menu-list__link:hover {
    color: #07b569;
    transition: color .2s ease-in;
}

.nav__button {
    margin-left: 60px;
}

.button {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    background-color: #07b569;
    text-decoration: none;
    padding: 8px 30px;
    display: inline-block;
}

.button:hover {
    background: #009f5a;
    transition: 0.6s ease;
}

.hero__title {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin: 0;
    color: #ffffff;
    font-size: 54px;
    font-weight: 400;
}

.text-bold {
    font-weight: 700;
}

/* ---------- END HERO ---------- */

/* ---------- START ABOUT-US ---------- */

.about-us {
    padding-top: 120px;
    padding-bottom: 60px;
}

.about-us__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-us__img {
    position: relative;
    width: 45%;
}

.about-us__img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, rgba(0, 80, 101, 0.39), rgba(34, 185, 119, 0.39));
    width: 100%;
    height: 100%;
}

.about-us__img img {
    display: block;
    width: 100%;
}

.about-us__description {
    width: 45%;
}

.title {
    color: #1b1b1b;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

.about-us__text {
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* ---------- END ABOUT-US ---------- */

/* ---------- START SERVICES ---------- */

.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: -80px;
}

.service__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 350px;

}

.service__item {
    margin-bottom: 80px;
}

.service__icon {
    width: 60px;
    height: 60px;
}

.service__icon img {
    width: 100%;
    display: block;
}

.service__title {
    height: 18px;
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.service__text {
    opacity: 0.7;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    letter-spacing: 0.8px;
    margin-top: 0;
    margin-bottom: 0;
}

/* ---------- END SERVICES ---------- */

/* ---------- START Portfolio ---------- */
.portfolio {
    padding-top: 60px;
    padding-bottom: 120px;
}

.portfolio__title {
    margin-bottom: 60px;
}

.gallery {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}

.gallery__item {
    width: 25%;
}

.gallery__item img {
    width: 100%;
    display: block;
}

.portfolio__button {
    display: flex;
    justify-content: center;
}

/* ---------- END Portfolio ---------- */

/* ---------- START Review ---------- */
.review {
    background: linear-gradient(to right, #005083 0%, #22b977 100%);
    padding-top: 100px;
    padding-bottom: 100px;
}

.review__item {
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
}

.review__img {
    width: 30px;
    height: 27px;
    margin: 0 auto;
}

.review__text {
    opacity: 0.85;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    margin-top: 40px;
    margin-bottom: 40px;
}

.review__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-bottom: 0;
}

.review__post {
    opacity: 0.7;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.thumbnail {
    max-width: 150px;
    margin: 0 auto;
}

.review__photo {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.review__photo img {
    width: 100%;
    display: block;
}

.thumbnail.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    transform: translateY(-50%);
}

.thumbnail.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0;
    transform: translateY(-50%);
}

.thumbnail.owl-carousel .owl-nav .owl-prev,
.thumbnail.owl-carousel .owl-nav .owl-next {
    outline: none;
    background: none;
}

/* ---------- END Review ---------- */

/* ---------- START Contact ---------- */

.contacts {
    padding-top: 120px;
    padding-bottom: 120px;
}

.contacts__title {
    text-align: center;
}

.contacts__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 970px;
    margin: 75px auto 60px;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
}

.address {
    width: 440px;
}

.address__title {
    color: #000000;
    font-size: 18px;
    line-height: 1.6;
}

.address__city-code,
.address__city,
.address__zip-code {
    opacity: 0.7;
    color: #000000;
    font-size: 14px;
}

.address__map {
    max-width: 450px;
}

.address__map iframe {
    display: block;
    width: 100%;
}

.contacts__form {
    width: 465px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form p {
    margin-bottom: 0;
    margin-top: 20px;
}

.form p:first-child {
    margin-top: 0;
}

.form input,
.form textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    opacity: 0.5;
    color: #413d4b;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
}

.form__block {
    display: none;
}

.contacts__button {
    display: flex;
    justify-content: center;
}

/* ---------- END Contact ---------- */

/* ---------- START FOOTER ---------- */

footer {
    background: url('/img/footer-bg.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
}

footer::before {
    content: "";
    background-image: linear-gradient(to right, #005083 0%, #005083 100%);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer__content {
    position: relative;
    display: flex;
    justify-content: space-between;

}

.footer__item {
    width: 33.33%;
}

/* ---------- END FOOTER ---------- */